<header>
  top left: county seal

  top:
  Treasurer's Office
  Montgomery County, Virginia
  W. Richard Shelton, Treasurer

  hline

  755 Roanoke Street, Suite 1B, Christiansburg, Virginia 24073-3171
</header>
<section class="form">
	<h1>Application for Dog License</h1>

	<!-- Effective July 1, 2007, veterinarians are required to notify localities when a dog is vaccinated for rabies. If the dog doesn’t have a current Montgomery County dog license, then you need to purchase one. If not purchased within 90 days of vaccination date, the Treasurer will send the owner an Application for Dog License. If after 30 days of notice, the owner still has not purchased a dog license, the Treasurer shall notify animal control that an owner is in possession of a vaccinated animal without a current dog license.

	IMPORTANT: State Law requires that all dogs FOUR (4) MONTHS OLD OR OLDER must have a certificate of rabies vaccination signed by the veterinarian with the veterinarian’s license number and expiration date of the vaccination. Please complete and return this form to purchase the required DOG licenses.

	**FOR EACH LICENSE PURCHASED, A CURRENT ORIGINAL CERTIFICATE OF RABIES VACCINATION MUST BE PRESENTED.** (The certificate will be returned to you with the dog license.) Dog license must be fastened to a collar and worn by the dog. If a tag is lost or destroyed, apply for a duplicate tag immediately by presenting the original receipt to the Treasurer’s Office. -->

	<app-my-form></app-my-form>

	<!-- <small class="text-muted">Dog tags go on sale November 1st at the Treasurer's Office or the Blacksburg Municipal Building. Dog tags are due by January 31st of each year.</small> -->
</section>
<section class="dog-image-wrapper">
	<img class="dog-image" src="assets/katie-large.JPG" />
</section>
<footer>
  web&nbsp;<a href="https://www.montgomerycountyva.gov/treasurer">montgomerycountyva.gov/treasurer</a>&nbsp;| phone (540) 382-5723 | fax (540) 381-6837
</footer>
