section.form {
  /* padding must be at least 15px to prevent rogue horizontal scroll on page, probably a formly glitch */
	padding: 30px;
}

.dog-image-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;
}

.dog-image {
  max-width: 600px;
}

footer {
	width: 100%;
	padding: 30px;
	background-color: #192D4C;
	color: #8898aa;
}
